<?xml version="1.0"?>
<launch>
    <param name ="/use_sim_time" value="true"/>
    <!--sim_planner1-->
<!--Input######################################################################################################-->
    <node pkg="rosbag" type="play" name="rosbag" args="$(find glmapping)/bag/glmapping_test.bag -r2 --clock"
        launch-prefix="bash -c 'sleep 2; $0 $@' ">
    </node>

<!--rviz#######################################################################################################-->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find glmapping)/launch/config/glmapping.rviz" />

<!--glmapping##################################################################################################-->
    <arg name="node_start_delay"  default="3.0" />
    <param name="/glmapping_configfile" type="string" value="$(find glmapping)/launch/config/d435i_glmapping_config.yaml"/>

    <!-- Manager -->
    <node pkg="nodelet" type="nodelet"
          name="glmapping_nodelet_manager" args="manager" output="screen">
          <param name="num_worker_threads" value="2" />
    </node>

    <node pkg="nodelet" type="nodelet" args="load glmapping/LocalMapNodeletClass glmapping_nodelet_manager"
        name="glmapping_LocalMapNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep 2; $0 $@' ">
        <remap from="/glmapping/pc"          to="/camera/depth/color/points"/>
        <remap from="/glmapping/pose"        to="/mavros/local_position/pose"/>
    </node>

    <node pkg="nodelet" type="nodelet" args="load glmapping/GlobalMapNodeletClass glmapping_nodelet_manager"
        name="glmapping_GlobalMapNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep 1; $0 $@' ">
    </node>

</launch>







